.box{ height: auto;
     width: auto; 
    border: 5px solid rgb(253, 251, 251);
    margin: 10px;
    background-image: url("./img/hasan.png");
    background-repeat: no-repeat;
    background-size: 100%;


}
h1{
    text-align: center;
    color: deeppink;
   font-style: italic;}

.text{
    color: rgba(214, 247, 237, 0.685);
    font-size: 20px;
    display: flex;
    height: auto;
    width: auto;
}